<ion-view view-title="首页" hide-footer="false">
    <ion-content>
        <div class="index_body">
            <div class="func_nav row">
                <a class="func_item col col-33" nav-direction="forward" ng-click="goItem('licaishi_list','all')">
                    <div class="item_logo lcs">
                        <i class="iconfont icon-iconfontlicaishi"></i>
                    </div>
                    <div class="item_title">
                        理财师
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/article_single/294991" >
                    <div class="item_logo lcspx">
                        <i class="iconfont icon-iconfontlicaishipingxuan"></i>
                    </div>
                    <div class="item_title">
                        理财师评选
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/activity_list/all">
                    <div class="item_logo hd">
                        <i class="iconfont icon-iconfonthuodong"></i>
                    </div>
                    <div class="item_title">
                        活动
                    </div>
                </a>
            </div>
            <div class="func_nav row">
                <a class="func_item col col-33" nav-direction="forward" href="#/jfsc">
                    <div class="item_logo jfsc">
                        <i class="iconfont icon-iconfontshangcheng"></i>
                    </div>
                    <div class="item_title">
                        积分商城
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/article_list">
                    <div class="item_logo zx">
                        <i class="iconfont icon-iconfontzixun"></i>
                    </div>
                    <div class="item_title">
                        咨询
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/wd_list/all">
                    <div class="item_logo ht">
                        <i class="iconfont icon-iconfonthuati1"></i>
                    </div>
                    <div class="item_title">
                        话题
                    </div>
                </a>
            </div>
            <div class="img_slider">
                <ion-slide-box class="img_slider_box">
                    <ion-slide ng-repeat="sliderImg in sliderImgs.list">
                        <div class="box" >
                            <img ng-src="{{sliderImg.imgurl}}" />
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="latest_news">
                <div class="list">
                    <div class="item row" ng-repeat="msg in msgList.list">
                        <div class="col col-20 news_head">
                            <div class="head_img">
                                <img ng-src="{{msg.imgurl}}" />
                            </div>
                        </div>
                        <div class="col col-80 news_body">
                            <div class="news_main">
                                <div class="news_type">
                                    {{msg.type | msgTypeFilter}}
                                </div>
                                <div class="news_time">
                                    {{msg.time | date : 'yyyy年MM月dd日 HH:mm' }}
                                </div>
                                <div class="news_context item-text-wrap news_acticle" ng-show="msg.type === 0">
                                    <div class="news_title">{{msg.newstitle}}</div>
                                </div>
                                <div class="news_context item-text-wrap news_activity" ng-show="msg.type === 1">
                                    <div class="news_title">{{msg.activityname}}</div>
                                    <div class="news_cont">时间:{{msg.activitytime | date : 'yyyy年MM月dd日 HH:mm:ss'}}</div>
                                    <div class="news_cont">地点:{{msg.activityaddress}}</div>
                                </div>
                                <div class="news_context item-text-wrap news_wd" ng-show="msg.type === 2">
                                    <div class="news_title">{{msg.asktitle}}</div>
                                </div>
                                <div class="news_context item-text-wrap news_wd_rpl" ng-show="msg.type === 3">
                                    <div class="news_title">{{msg.asktitle}}</div>
                                    <div class="news_cont">{{msg.askcontent}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
