<!doctype html>
<html ng-app="fbs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>福布斯</title>
    <link rel="stylesheet" href="assets/tools/ionic/css/ionic.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1425446917_518222.css"/>
    <link rel="stylesheet" href="assets/styles/all_pages.min.css"/>
    <script src="assets/tools/ionic/js/ionic.bundle.js"></script>
    <script src="assets/tools/ionic/js/angular/angular-resource.js"></script>
    <script src="assets/scripts/app.js"></script>
</head>
<body ng-controller="appCtrl">
    <!--Date format: <input ng-model="format"> <hr/>-->
    <!--Current time is: <span my-current-time="format"></span>-->
    <!--<ion-nav-bar class="bar-positive">-->
    <!--</ion-nav-bar>-->
    <ion-nav-view name="mainContent">
    </ion-nav-view>
    <div class="rollback" ng-click="rollback()" ng-hide="!hideFooter">
        <i class="iconfont icon-zuo"></i>
    </div>
    <!--<ion-footer-bar style="padding: 0px;" class="animate-hide" ng-hide="$root.hideTabs">-->
    <ion-footer-bar style="padding: 0px;" class="animate-hide" ng-hide="hideFooter">
        <div class="tabs tabs-icon-top main_footer_tabs">
            <!--<a class="tab-item" nav-direction="back" href="#/index" ng-click="tt()">-->
            <a class="tab-item" nav-direction="enter" href="#/index" ng-click="selectTab(1)" ng-class="{ active:isSelected(1)}">
                <i class="icon iconfont icon-iconfontshouye"></i>
                首页
            </a>
            <a class="tab-item" nav-direction="enter" href="#/fx" ng-click="selectTab(2)" ng-class="{ active:isSelected(2)}">
                <i class="icon iconfont icon-iconfontfaxian"></i>
                发现
            </a>
            <a class="tab-item" nav-direction="enter" href="#/xx" ng-click="selectTab(3)" ng-class="{ active:isSelected(3)}">
                <i class="icon iconfont icon-iconfontxiaoxi"></i>
                消息
            </a>
            <a class="tab-item" nav-direction="enter" href="#/grzx" ng-click="selectTab(4)" ng-class="{ active:isSelected(4)}">
                <i class="icon iconfont icon-wode"></i>
                我的
            </a>
        </div>
    </ion-footer-bar>
    <script src="assets/scripts/controllers/index.js"></script>
    <script src="assets/scripts/controllers/pageList.js"></script>
    <script src="assets/scripts/controllers/activity.js"></script>
    <script src="assets/scripts/controllers/article.js"></script>
    <script src="assets/scripts/controllers/wenda.js"></script>
    <script src="assets/scripts/controllers/licaishi.js"></script>
    <script src="assets/scripts/controllers/faxian.js"></script>
    <script src="assets/scripts/controllers/xiaoxi.js"></script>
    <script src="assets/scripts/controllers/person.js"></script>
    <script src="assets/scripts/controllers/sign.js"></script>
    <script src="assets/scripts/services/DataAPI.js"></script>
    <script src="assets/scripts/services/Tools.js"></script>
    <script src="assets/scripts/filters/activity.js"></script>
    <script src="assets/scripts/filters/msgType.js"></script>
    <script src="assets/scripts/filters/lcsAttention.js"></script>
    <script src="assets/scripts/directive/operateFooter.js"></script>
    <script src="assets/scripts/directive/mycurrent.js"></script>
    <script src="assets/scripts/directive/searchByKeyword.js"></script>
    <script src="assets/scripts/directive/searchByCategory.js"></script>
</body>
</html>

