<ion-view view-title="问答" hide-footer="true">
    <ion-content>
        <div class="wd_body">
            <div class="searchHeader">
                <div class="row">
                    <div class="col col-20 category_list">
                        <div class="row">
                            <i class="iconfont icon-iconfonthuati1"></i>
                        </div>
                    </div>
                    <div class="col searchGroup">
                        <div class="row">
                            <div class="col col-75 search_inp">
                                <input type="text">
                            </div>
                            <div class="col col-25 search_btn">
                                <i class="iconfont icon-iconfontsousuo" ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="#/wd_add/none">添加问题</a>
            </div>
            <div class="list wd_list">
                <a class="item" ng-repeat="wenda in wendas.list" ng-click="details(wenda.id)">
                    <div class="person_head">
                        <div class="head_img">
                            <img ng-src="{{wenda.headimg}}" />
                        </div>
                    </div>
                    <div class="wd_context item-text-wrap">
                        <div class="wd_title">
                            {{wenda.title}}
                        </div>
                        <div class="wd_rels">
                            <div class="tag pv">
                                <i class="iconfont icon-iconfontchakan"></i> {{wenda.pv}}
                            </div>
                            <div class="tag zhuanfa">
                                <i class="iconfont icon-iconfonthuifu"></i> {{wenda.sharecount}}
                            </div>
                            <div class="wd_date">
                                {{wenda.time | date : 'yyyy-MM-dd'}}
                            </div>
                        </div>
                        <div class="wd_details">
                            {{wenda.content}}
                        </div>
                        <!--<div class="wd_tags">-->
                            <!--<div class="tag categoryname">-->
                                <!--刘西洋-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="wd_time">-->
                            <!--5个小时前-->
                        <!--</div>-->
                    </div>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
