<ion-view view-title="理财师列表" hide-footer="true" >
    <div class="licaishi_body">
        <div class="searchHeader">
            <div class="row">
                <div class="col col-20 category_list" style="position:relative" >
                    <i class="iconfont icon-iconfontliebiao"></i>
                    <div style="position: absolute;z-index: 999;width: 100px;border: 1px solid red;color:blueviolet;background-color: rgba(220, 207, 24, 0.98)">
                        <div class="list">
                            <a class="item" style="height:40px;padding:0" ng-repeat="category in pageDatas.categoryList.list" search-by-category category-id='category.tagid' req-options = 'lcsListReqOptions' target-datas = 'pageDatas'>
                               {{category.tagid}}--
                               {{category.tagname}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col searchGroup">
                    <div class="row">
                        <div class="col col-75 search_inp">
                            <input type="text" ng-model="keyword">
                        </div>
                        <div class="col col-25 search_btn" search-by-keyword  keyword ='keyword' req-options = 'lcsListReqOptions' target-datas = 'pageDatas'>
                            <i class="iconfont icon-iconfontsousuo" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list licaishi_list">
            <a class="item" ng-repeat="licaishi in pageDatas.licaishiList.list" ng-click="details(licaishi.userid)">
                <div class="person_head">
                    <div class="head_img">
                        <img ng-src="{{licaishi.headimg}}" />
                    </div>
                </div>
                <div class="licaishi_context item-text-wrap">
                    <div class="licaishi_title">
                        {{licaishi.truename}} —— {{licaishi.postion}}
                    </div>
                    <div class="licaishi_details">
                        {{licaishi.digest}}
                    </div>
                </div>
                <div class="licaishi_rels">
                    <div class="tag pv">
                        <i class="iconfont icon-iconfontchakan"></i> {{licaishi.pv}}

                    </div>
                    <div class="tag zan">
                        <i class="iconfont icon-iconfontzan"></i> {{licaishi.praisecount}}
                    </div>

                </div>
                <div class="licaishi_tags">
                    <div class="tag categoryname" ng-repeat="tag in licaishi.tags">
                        {{tag}}
                    </div>
                </div>
                <div class="guanzhu" ng-show="licaishi.canaskorattention" ng-click="atteLcs(licaishi, $event)">
                    {{licaishi.isattention | lcsAttention}}
                </div>
            </a>
        </div>
    </div>
</ion-view>

