<ion-view view-title="活动列表" hide-footer="true">
    <ion-content>
        <div class="activity_body">
            <div class="searchHeader">
                <div class="row">
                    <div class="col col-20 category_list">
                        <div class="row">
                            <i class="iconfont icon-iconfontliebiao"></i>
                        </div>
                    </div>
                    <div class="col searchGroup">
                        <div class="row">
                            <div class="col col-75 search_inp">
                                <input type="text">
                            </div>
                            <div class="col col-25 search_btn">
                                <i class="iconfont icon-iconfontsousuo" ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list activity_list">
                <a class="item activity" ng-repeat="activity in activities.list" ng-click="details(activity.activityid)">
                    <div class="activity_logo">
                        <img ng-src="{{activity.activityimage}}" />
                    </div>
                    <div class="activity_content">
                        <div class="activity_title">
                            {{activity.activityname}}
                        </div>
                        <div class="activity_time">
                            <div class="row">
                                <div class="col col-10">
                                    <i class="iconfont icon-iconfontshijian"></i>
                                </div>
                                <div class="col">
                                    <span>时间：{{activity.time | date : 'yyyy年MM月dd日 HH:mm:ss' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="activity_loc">
                            <div class="row">
                                <div class="col col-10">
                                    <i class="iconfont icon-iconfontdizhi"></i>
                                </div>
                                <div class="col">
                                    <span>地址：{{activity.address}}</span>
                                </div>
                            </div>
                        </div >
                        <div class="activity_tags">
                            <div class="tag pv">
                                <i class="iconfont icon-iconfontchakan"></i> {{activity.pv}}
                            </div>
                            <div class="tag signcount">
                                已报名{{activity.signcount}}
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="activity_tags" ng-show="activity.categoryname?true:false">
                            <div class="tag categoryname" >
                                {{activity.categoryname}}
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="activity_status">
                            <div ng-class="{triangle:true,activity_status_over:activity.status != 0} ">
                            </div>
                            <p>
                                {{activity.status | activityStatusTextFilter}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

